@import "open-props/open-props.min.css";
@import "open-props/normalize.min.css";
@import "open-props/buttons.min.css";
@import "open-props/theme.light.switch.min.css";
@import "open-props/theme.dark.switch.min.css";

:root {
  --font-size-00: 0.6rem;
}

body {
  margin: auto;
  padding: var(--size-2);
  width: 400px;
  padding: 10px;
  font-family: var(--font-humanist);
}
